@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
font-family: 'Montserrat', sans-serif;
}
:root{
  --aeroBlue : #C4E7D4;
  --opal : #C4DACF;
  --lightViolet : #B9C0DA;
  --helioGray : #998DA0;
  --darkLiver : #63585E;
}

body{
  background-color:whitesmoke;
}



h1{
  color: var(--darkLiver);
}